#main{
  margin: 20px 150px 40px 150px;
  padding: 20px 50px 50px 50px;
  
}
#caption{
  color:grey;
}
#img{
  margin:auto;
}
#end{
  font-weight:bold; font-size:large;
}
#fig{
  background-color:white;
}
